@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
        width: 100px;
        height: auto;
      }

body {
    height: 100%;
    overflow: auto;
    background-color: #2D1B3D;
    }

/* Hide scrollbar: Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar: IE, Edge and Firefox */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
